body {
  margin: 0;
  padding: 0;


}
.container {
width: 1200px;
margin: auto;

}
.main-header {
  height: 545px;
background-image: url("grey back.png");

}
/* сетка для шапки */
.main-navigation {

  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-around;
  height: 65px;
  align-items: center;

}
.logo {
  width: 260px;
}
.main-menu {
  width:700px;
}
.main-bucket {
  width: 220px;
}
.menu-list {

  list-style: none;
  width: 440px;
  display: flex;
  justify-content: space-between;
}
.menu-list a {
  text-decoration: none;

  font-size: 16px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.875;

}
.main-bucket a {
  text-decoration: none;

  font-size: 16px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.875;
}
/* сетка для слайдера */
.slider-page h2 {

  font-size: 55px;

  color: rgb(0, 0, 0);
  line-height: 1;

}
.slider-page p {
  font-size: 16px;

  font-size: 16px;

  color: rgb(40, 49, 54);
  line-height: 1.5;


}
.slider-inner-page {




}

.btn {
  background-color: #fb565a;
  width: 240px;
  height: 50px;
  text-align: center;
  border-radius: 5px;



}
.btn a {



  font-size: 18.564px;
text-decoration: none;
text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.125;
  text-align: center;

}
.slider-inner {


  width: 453px;
  height: 270px;
}
.slider {

padding: 70px 0px 77px;


}
.button-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 629px;
}
.slider-button input {
  margin-left: 16px;
}
.main-container {

  width: 1160px;
  margin: 0 auto;
}
.slider-page {

  padding-bottom: 46px;
}
/*
сетка для фич */

.features {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 170px;
}
.features-item {
  padding-top: 173px;
  width: 300px;
  height: 347px;
}
.features-item:nth-child(1) {
  background-image: url("web-sites.png");
  background-repeat: no-repeat;
}
.features-item:nth-child(2) {
  background-image: url("apps.png");
  background-repeat: no-repeat;
}
.features-item:nth-child(3) {
  background-image: url("present.png");
  background-repeat: no-repeat;
}
.features-item h3 {

    font-size: 16px;
font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.25;
    text-align: left;


}
.features-item button {
  margin-top: 37px;
border: 0px;
border-radius: 3px;
padding: 18px 41px;
color: white;


}
.features-item:nth-child(1) button {
  background-color: #fb565a;
}
.features-item:nth-child(2) button  {
  background-color: #00ca74;
}
.features-item:nth-child(3) button  {
  background-color: #efc84a;
}

 /* новый о нас */
.about-us {
  display: flex;
  justify-content: space-between;
}
.about-us-left b {
  font-size: 45px;
}
.about-us-left p {

    font-size: 16px;

    color: rgb(40, 49, 54);
    line-height: 1.5;
padding-bottom: 53px;

}
.about-us-left h3 {

  font-size: 16px;

  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.5;
font-weight: 400;
}
