body {
  margin: 0;
  padding: 0;

}
.main-header {
  min-height: 542px;
  background-image: url("background.png");
  background-repeat: no-repeat;
}
.container {
  width: 1160px;
  margin: 0 auto;
padding-top: 47px;

}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;









  /* display: flex;
 justify-content: space-around;
 align-items: center;
 align-content: space-between; */

}


 .main-navigation li {
  list-style: none;

  font-size: 14px;


  text-transform: uppercase;
  line-height: 1.875;



}
.main-navigation a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.slider-header {

  font-size: 50px;

  color: rgb(0, 0, 0);
  line-height: 1;


}
.logo {
  width: 300px;
}
.navigation {
  width: 740px;
}
.menu-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
}
.user-block {
  text-transform: uppercase;

  width: 180px;
}
.slider-main {
  min-height: 270px;
display: flex;
flex-direction: column;
align-items: baseline;
padding-top: 95px;
padding-bottom: 80px;

}
.slider-btn {
  margin-top: 45px;
  display: block;
width: 240px;
padding: 16px 0;
font-size: 16px;
line-height: 18px;
color: #fff;
text-transform: uppercase;
text-align: center;
text-decoration: none;
background-color: #fb565a;
border-radius: 3px;
border: 0;
 border-radius: 5px;
height: 50px;
  width: 239px;
  background-color: #fb565a;
  margin-top: 50px;

  font-size: 20px;

  color: rgb(255, 255, 255);
  vertical-align: top;
  text-align: center;

}
.features {

  display: flex;
   justify-content: space-between;


}
.features-btn {
  padding-top: 35px;
}
.features-item:nth-child(1) {
  background-image: url("web-sites.png");
  background-repeat: no-repeat;
}
.features-item:nth-child(2) {
  background-image: url("apps.png");
  background-repeat: no-repeat;
}
.features-item:nth-child(3) {
  background-image: url("present.png");
  background-repeat: no-repeat;
}
.features-btn {
  margin-top: 40px;
  background: #fb565a;
  padding: 20px 40px;
  display: block;
  color: white;
  width: 120px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;

}
.features-item p {
  margin-top: 30px;
}
.features-item h2 {
  margin-top: 170px;
}
.features-item {
  width: 300px;
flex-shrink: 0;
margin-bottom: 87px;
}
hr {
  margin-bottom: 80px;
}
.about-left-header {
  font-size: 45px;
  margin-top: 30px;

}
.about-left-paragraph {
  margin-top: 30px;

  font-size: 16px;

  color: rgb(40, 49, 54);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 50px;

}
.order-item {

  background-position: left;


  margin-left: 36px;
}
.about-left-order li {
  list-style: none;
  margin-left: 36px;
  padding-top: 33px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  margin-bottom: 120px;
}
.about-right {


}
.order-header {
  text-transform: uppercase;
  font-size: 16px;
}
.about-right-procent {
  margin-top: 47px;
  width: 344px;
  display: flex;
}
.about-right-flex {
  display: flex;
  flex-direction: column;
margin-left: 20px;
}


.about-right-procent-b {
  display: block;
}
.img {
padding: 47px 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.img img {
  min-height: 50px;
  width: 200px;
}
.card-bg {
  width: 320px;
  padding-top: 53px;
  padding-bottom: 53px;
  margin-bottom: 75px;
}
.card-bg h3, a {
  padding-left: 50px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.card {
  background-image: url("card.png");
  height: 420px;
}
.card-bg {
  background-color: white;
  height: 210px;
  width: 320px;
}
.card-contact {
  margin-left: 40px;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.footer-friend {

width: 545px;
}

.footer-social {
  margin: 0;
  padding: 0;
}
.friend {

  font-size: 26.27px;

  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
  text-align: left;

} */
